body {
    background-color: white; 
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.menu {
    display: flex; 
    margin: 0; 
    list-style-type: none;
    font-weight: bold;
}

.menu li {
    margin: 1%; 
}

.menu a {
    text-decoration: none; 
}

.v1 {
    text-align: center;

}

.contenido {
}

img {
    width: 60px;
}



