
body {
    background-color: #808080; /*f5f5dc*/
    font-family: 'Montserrat', sans-serif; 
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.menu {
    display: flex; 
    margin: 0; 
    list-style-type: none; 
}

.menu li {
    margin: 1%; 
}

.menu a {
    text-decoration: none; 
    color: white; 
}


button {
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer; 
}


.mi-imagen {
    max-width: 20px; 
    height: auto; 
}


.titulo-container {
    padding-top: 600px; 
    margin-left: 20px;
}

.uno {
    margin-top: 50px;
}

.Titulo {
    color: white; 
    font-size: 80px;
    padding-bottom: 100px; 
}


.container {
    background-color: white;
    padding: 0; 
    padding: 100px;  
    padding-top: 100px; 
}


.subtitle {
    font-size: 75px; 
    padding-left: 0; 
    margin-left: 25px; 
    margin-bottom: 300px;
}


.container3 {
    background-color: rgb(150, 150, 150);
    padding: 0; 
    padding: 100px; 
    padding-top: 100px; 
    
}

.link {
    font-size: 75px; 
    padding-left: 0; 
    margin-left: 25px;
}


/*Desplegables f5f5dc*/


.dudauno {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
  }
  
  .active, .dudauno:hover {
    background-color: #555555;
  }
  
  .dudaunodentro {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .titulos {
    text-align: center;
  }

  .titulo1 {
    padding: 0% 0% 0% 0%;
    font-size: 300%;
  }

  .titulo2 {
    font-size: 170%;
    text-align: center;
  }

  .tit {
    color: lightgray;
  }
 
  .logo {
    width: 60px;
  }

  .gifp {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 70px;
  }

  .gif1 {
    width: 250px;
    float: left;
  }

  .gif2 {
    width: 250px;
    caption-side: top;
  }

  .gif3 {
    width: 250px;
    float: right;
  }


  .piedepaguina {
    font-size: 11px;
  }
  .pliniea {
    height: 2px;
    background-color: white;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .piedepaguinatxt {
    margin-left: 2%;
  }
  .Stltxt {
    color: #f5f5dc;
    font-style: italic;
    font-family: sans-serif;
  }
  .contac {
    color: beige;
    font-style: italic;
  }
  .sliniea {
    height: 2px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
  }