
body {
    background-color: white; 
    font-family: 'Montserrat', sans-serif; 
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    font-weight: bold;
}

.menu {
    display: flex; 
    padding: 0;
    list-style-type: none;
    font-weight: bold;
}

.menu li {
    margin: 1%;
    padding-top: 1%;
}

.menu a {
    text-decoration: none; 
    font-size: 110%;
    font-weight: 900;
    color: #323232;
}

button {
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer; 
}


.mi-imagen {
    max-width: 20px; 
    height: auto; 
}


.titulo-container {
    padding: 30% 0% 0% 0%; 
    margin-left: 20px;
}



.Titulo {
    color: #000000; 
    font-size: 80px;
    padding-bottom: 1%; 
}





.subtitle {
    font-size: 75px; 
    padding-left: 0; 
    margin-left: 25px; 
    margin-bottom: 300px;
}


.container3 {
    background-color: rgb(150, 150, 150);
    padding: 0; 
    padding: 100px; 
    padding-top: 100px; 
    
}


img {
    width: 100px;
}


.Stltxt {
    color: #424242;
    font-style: italic;
    font-family: sans-serif;
  }
  .contac {
    color: #424242;
    font-style: italic;
    font-family: sans-serif;
  }

  .piedepaguina {
    font-size: 11px;
  }
  .pliniea {
    height: 2px;
    background-color: white;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .piedepaguinatxt {
    margin-left: 2%;
  }

  .sliniea {
    height: 2px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
  }

  .redes {
    width: 10px;
  }

  a {
    transition: font-size 0.7s ease;
  }
  
  a:hover {
    font-size: 150%;
  }