body {
  background-color: white; 
  font-family: 'Montserrat', sans-serif;
}

/* Menu */

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.menu {
  display: flex; 
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

.menu li {
  margin: 1%;
  padding-top: 1%;
}

.menu a {
  text-decoration: none; 
  font-size: 110%;
  font-weight: 900;
  color: #323232;
}

img {
  width: 100px;
}

/* Traductor */



.dropdown {
  position: relative;
  display: inline-block;
  background-color: #9b9b9b;
}

.dropdown-toggle {
  display: none;
}

.dropdown-label {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  list-style-type: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #9b9b9b;
}

.dropdown-toggle:checked + .dropdown-label + .dropdown-content {
  display: block;
}


/* Animaciones */

.g1 a {
  transition: font-size 0.7s ease;
}

.g1 a:hover {
  font-size: 150%;
}

/* Sobre nosotros */
.apartados h1 {
  text-align: center;
  font-size: 400%;
}

.apartados h2 {
  padding-left: 10%;
  padding-right: 10%;
}

/*Este codigo es del pìe de pagina*/ 

.Stltxt {
  color: #424242;
  font-style: italic;
  font-family: sans-serif;
}

.contac {
  color: #424242;
  font-style: italic;
  font-family: sans-serif;
}

.piedepaguina {
  font-size: 11px;
}

.pliniea {
  height: 2px;
  background-color: white;
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
}

.piedepaguinatxt {
  margin-left: 2%;
}

.sliniea {
  height: 2px;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
}
  
.svg_back {
  transform: scaleX(-1);
}
  
.redes {
  width: 10px;
}

