body {
    background-color: white; 
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.menu {
    display: flex; 
    margin: 0; 
    list-style-type: none;
    font-weight: bold;
}

.menu li {
    margin: 1%;
    padding-top: 1%;
}

.menu a {
    text-decoration: none; 
    font-size: 110%;
    font-weight: 900;
    color: #323232;
}

img {
    width: 100px;
}

.apartados h1 {
    text-align: center;
    font-size: 400%;
}

.apartados h2 {
    padding-left: 10%;
    padding-right: 10%;
}